{% extends "base.html" %}
{% block content %}
<div class="cartao" style="max-width:520px;margin:18px auto">
  <h3>Registrar</h3>
  <form method="POST" action="{{ url_for('register') }}">
    <label>Usuário</label>
    <input name="username" required />
    <label style="margin-top:8px">Senha</label>
    <input name="password" type="password" required />
    <button class="botao" style="margin-top:10px">Criar conta</button>
    <p style="margin-top:8px">Já tem conta? <a href="{{ url_for('login') }}">Fazer login</a></p>
  </form>
</div>
{% endblock %}
